body, html {
    height: 100%;
}

.topnavbar {
  background: rgb(115,115,115);
  height: 100%;
  padding: 4px 0px 4px 4px;
}

.navbarlist {
  margin: 0 0 0 0;
  height: 100%;
  text-align: right;
}

li{
  /*border:2px solid black;*/
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-family: 'Merriweather', serif;
  display: inline;
  margin:20px;
  border-radius: 50px;
  line-height: 20px;
}
.toplinks {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  text-decoration: none;
  color: white;
}


img {
  height: 100%;
  width: 100%;
}
 /*old nav bar*/
/*nav {
  float:left;
  display: inline-block;
  width: 100%;
  border: 2px solid black;
  list-style-type: none;
}

li {
  float:left;
  padding: 20px 20px;
  position: left;
  list-style-type: none;
  font-family: 'Merriweather', serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
}*/



.clearfix{
  clear:both;
}

.hero-image {
    background-image: url('../imgs/maintrain.jpg');
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: .3;
    z-index: -1;
}

.hero-text-main {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform moves it 2D, so the first part is left right and 2nd part is top down*/
    color: rgb(115, 115, 115);
}

button {
  border:none;
  background:none;
  border-color: black;
  color: rgb(115, 115, 115);
}

#myName {
  color:rgb(85, 85, 85);
}

.writing {
  border: 1px solid black;
  background-color: rgb(115, 115, 115);
}

a {
  color: rgb(115, 115, 115);
  text-decoration: none;
}

.hero-text-about-me {
font-family: 'Merriweather', serif;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    color: rgb(85, 85, 85);
    padding:50px 0 0 0;
}



.about {
  position:relative;
  width:100%;
  height:470px;
  background-color: #B4B4B4;
}
.abouttext {
  /*border: 2px solid red;*/
  width:55%;
  float:right;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 0 50px 0 0;
}
.aboutphoto {
  /*border: 2px solid green;*/
  float:left;
  font-family: 'Merriweather', serif;
  width: 30%;
  padding: 20px 0 0 20px;
}

#cheesejpg {
  height: 100%;
}

#connectWithMe {
  weight: bold;
}

.botnavbar {
  /*border:2px solid black;*/
  background: rgb(115,115,115);
  padding: 4px 0px 4px 4px;
}
